<style>
  .gradient {
     margin-top: -24px;
     background: #B09A70;
  }
</style>

<h1 id="heading"><b>Search Courses by Name or Category!</b></h1>
<div class="w-full mb-4">
  <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
</div>

<!-- This is an example component -->
<div class="max-w-2xl mx-auto">
    <div class="relative">
        <div class="flex absolute inset-y-0 left- items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </div>
        <input textarea matInput placeholder="Enter name or category..." type="text" #page id="default-search" class="block p-6 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
        <button (click)="searchCourseName(page.value)" type="submit" class="text-white absolute right-2.5 bottom-4 bg-imperium-green hover:bg-imperium-hover-green focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Search</button>
    </div>
</div>

<mat-form-field style="margin-left: 60px;" appearance="fill">
  <mat-label>Filter Courses</mat-label>
  <mat-select>
    <mat-option style="background-color: red;" (click)="filterCourses('reset')">Reset Filters</mat-option>
    <mat-optgroup *ngFor="let group of filterGroups" [label]="group.name">
      <mat-option *ngFor="let filter of group.filter" [value]="filter.value" (click)="filterCourses(filter.value)">
        {{filter.value}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>

<mat-form-field style="margin-left: 60px;" appearance="fill">
  <mat-label>Sort Courses by Date</mat-label>
  <mat-select>
    <mat-option style="background-color: red;" (click)="sortCourses('reset')">Reset Sorting</mat-option>
    <mat-option *ngFor="let sort of sortGroups" [value]="sort.value" (click)="sortCourses(sort.value)">
      {{sort.value}}
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- ====== Course Cards Section Start -->
<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <div class="row-span-4 columns-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="rounded-lg overflow-hidden mb-10" *ngFor="let course of course_list | async" style="cursor: pointer" [routerLink]="['/app/courses', course._id]">
            <div class="flex-shrink-0">
                <img
                  class="h-48 w-full object-cover"
                  src="{{ course.course_image }}"
                  alt=""
                />
              </div>
              <div class="flex flex-1 flex-col justify-between bg-slate-200">
                  <div class="mt-2 block">
                    <p class="text-xl font-semibold text-gray-900">
                        {{ course.course_title }}
                    </p>
                    <div class="flex-1">
                        <p class="text-sm font-medium text-indigo-600">
                          <span>{{ course.course_difficulty }}</span>
                        </p>
                    <p class="mt-3 text-base text-gray-500">
                        {{ course.course_description }}
                    </p>
                    <p class="mt-3 text-base text-gray-500">
                      Rating: {{ course.course_rating }} <mat-icon>stars</mat-icon>
                  </p>
                  </div>
                </div>
                <div class="mt-6 flex items-center">
                  <div class="flex-shrink-0">
                    <span class="sr-only">test</span>
                    <img
                      class="h-10 w-10 rounded-full ml-3"
                      src="{{ course.lecturer_image }}"
                      alt=""
                    />
                  </div>
                  <div class="ml-3">
                    <p class="text-sm font-medium text-gray-900 ml-1 mb-1">
                      <span>{{ course.lecturer_name }}</span>
                    </p>
                    <div class="flex space-x-1 text-sm text-gray-500 ml-1 mb-2">
                      <time>{{ course.display_date }}</time>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ====== Searched Course Cards Section Start -->
<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
  <div class="row-span-4 columns-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="rounded-lg overflow-hidden mb-10" *ngFor="let searchCourse of search_course_list" style="cursor: pointer" [routerLink]="['/app/courses', searchCourse._id]">
          <div class="flex-shrink-0">
              <img
                class="h-48 w-full object-cover"
                src="{{ searchCourse.course_image }}"
                alt=""
              />
            </div>
            <div class="flex flex-1 flex-col justify-between bg-slate-200">
                <div class="mt-2 block">
                  <p class="text-xl font-semibold text-gray-900">
                      {{ searchCourse.course_title }}
                  </p>
                  <div class="flex-1">
                      <p class="text-sm font-medium text-indigo-600">
                        <span>{{ searchCourse.course_difficulty }}</span>
                      </p>
                  <p class="mt-3 text-base text-gray-500">
                      {{ searchCourse.course_description }}
                  </p>
                  <p class="mt-3 text-base text-gray-500">
                    Rating: {{ searchCourse.course_rating }} <mat-icon>stars</mat-icon>
                </p>
                </div>
              </div>
              <div class="mt-6 flex items-center">
                <div class="flex-shrink-0">
                  <span class="sr-only">test</span>
                  <img
                    class="h-10 w-10 rounded-full ml-3"
                    src="{{ searchCourse.lecturer_image }}"
                    alt=""
                  />
                </div>
                <div class="ml-3">
                  <p class="text-sm font-medium text-gray-900 ml-1 mb-1">
                    <span>{{ searchCourse.lecturer_name }}</span>
                  </p>
                  <div class="flex space-x-1 text-sm text-gray-500 ml-1 mb-2">
                    <time>{{ searchCourse.display_date }}</time>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Please Enter the Courses Details</h2>
            <form [formGroup]="courseForm" (ngSubmit)="onAddCourse()">
                <div class="form-group">
                    <label for="course_title">Title</label>
                    <input type="text" id="course_title" name="course_title" class="form-control"
                        formControlName="course_title" [ngClass]="{ 'error': isInvalid('course_title') }">
                </div>
                <div class="form-group">
                    <label for="course_category">Category</label>
                    <input type="text" id="course_category" name="course_category" class="form-control"
                        formControlName="course_category" [ngClass]="{ 'error': isInvalid('course_category') }">
                </div>
                <div class="form-group">
                    <label for="course_image">Image</label>
                    <input type="text" id="course_image" name="course_image" class="form-control"
                        formControlName="course_image" [ngClass]="{ 'error': isInvalid('course_image') }">
                </div>
                <div class="form-group">
                    <label for="course_description">Description</label>
                    <input type="text" id="course_description" name="course_description" class="form-control"
                        formControlName="course_description" [ngClass]="{ 'error': isInvalid('course_description') }">
                </div>
                <div class="form-group">
                    <label for="course_difficulty">Difficulty</label>
                    <input type="text" id="course_difficulty" name="course_difficulty" class="form-control"
                        formControlName="course_difficulty" [ngClass]="{ 'error': isInvalid('course_difficulty') }">
                </div>
                <div class="form-group">
                    <label for="lecturer_name">Lecturer Name</label>
                    <input type="text" id="lecturer_name" name="lecturer_name" class="form-control"
                        formControlName="lecturer_name" [ngClass]="{ 'error': isInvalid('lecturer_name') }">
                </div>
                <div class="form-group">
                    <label for="release_year">Release Year</label>
                    <input type="text" id="release_year" name="release_year" class="form-control"
                        formControlName="release_year" [ngClass]="{ 'error': isInvalid('release_year') }">
                </div>
                <span *ngIf="isIncomplete()">You must complete all fields</span>
                <button *ngIf="!isIncomplete()" type="submit" class="btn btn-primary">Submit</button>
            </form>
            <ng-template #loggedOut>
                <h2>Would you like to add a course? Please login to do so</h2>
            </ng-template>
        </div>
    </div>
</div>

<div class="button-row">
    <button mat-raised-button (click)="previousPage()">Previous</button>
    <button mat-raised-button (click)="selectPage(1)"><<</button>
    <button mat-raised-button (click)="selectPage(1)">1</button>
    <button mat-raised-button (click)="selectPage(2)">2</button>
    <button mat-raised-button (click)="selectPage(3)">3</button>
    <button mat-raised-button (click)="selectPage(4)">4</button>
    <button mat-raised-button (click)="selectPage(5)">5</button>
    <button mat-raised-button (click)="selectPage(6)">6</button>
    <button mat-raised-button (click)="selectPage(7)">7</button>
    <button mat-raised-button (click)="selectPage(8)">8</button>
    <button mat-raised-button (click)="selectPage(9)">9</button>
    <button mat-raised-button (click)="selectPage(10)">10</button>
    <button mat-raised-button (click)="lastPage()">>></button>
    <button mat-raised-button (click)="nextPage()">Next</button>
</div>

<div class="button-row2">
    <input textarea matInput placeholder="Enter Page Number" type="text" #page />
    <button mat-raised-button (click)="selectCustomPage(page.value)">Search</button>
</div>