* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #005F50 0.52%, #B09A70 100%);
    --secondaryGradient: linear-gradient(268.91deg, #005F50 -2.14%, #B09A70 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #005F50;
    --secondary: #B09A70;
}

/* CHATBOX
=============== */
.chatbox {
    position: fixed;
    z-index:1000;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox_support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 500px;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    opacity: 1;
}

/* BUTTON */
.chatbox_button {
    text-align: right;
}

.send_button {
    padding: 6px;
    font-size: 15px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox_header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox_messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

/* FOOTER */
.chatbox_footer {
    position: sticky;
    bottom: 0;
}

.chatbox_support {
    background: #f9f9f9;
    height: 500px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox_header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox_image--header {
    margin-top: 10px;
    margin-right: 10px;
    height: 100px;
    width: 100px;
}

#chatbot_image {
    border-radius: 50%;
}

.chatbox_heading--header {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 5px;
}

.chatbox_description--header {
    font-size: .9rem;
    color: white;
    text-align: justify;
}

/* Messages */
.chatbox_messages {
    padding: 0 20px;
}

/* FOOTER */
.chatbox_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox_footer input {
    width: 80%;
    border: none;
    padding: 5px 5px;
    border-radius: 30px;
    text-align: left;
    font-size: 15px;
}

.chatbox_send--footer {
    color: white;
}

.chatbox_button button,
.chatbox_button button:focus,
.chatbox_button button:visited {
    padding: 10px;
    background: var(--primary);
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}