<!DOCTYPE html>
<html lang="en">

<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox_support">
            <div class="chatbox_header">
                <div class="chatbox_image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-3--v1.png" alt="image">
                </div>
                <div class="chatbox_content--header">
                    <h4 class="chatbox_heading--header">Chatbot Support</h4>
                    <p class="chatbox_description--header">Ask for Course Recomendations or Questions About Our Courses</p>
                </div>
            </div>
            
            <div class="chatbox_messages">
                <div></div>
            </div>

            <div class="chatbox_footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox_send--footer send_button">Send</button>
            </div>
            
        </div>
        <div class="chatbox_button">
            <button><img src="../assets/images/chatbox-icon.svg" /></button>
        </div>
    </div>
</div>
</body>
</html>
