<div class="container">
    <div class="chatbox">
        <div class="chatbox_support">
            <div class="chatbox_header">
                <div class="chatbox_image--header">
                    <img id="chatbot_image" src="../assets/images/chatbot.jpg" alt="image">
                </div>
                <div class="chatbox_content--header">
                    <h4 class="chatbox_heading--header">Chatbot Support</h4>
                    <p class="chatbox_description--header">Hey I'm Paddy, ask me for Course Recomendations or any Questions on your Course!</p>
                </div>
            </div>
            
            <div class="chatbox_messages">
                <div></div>
            </div>

            <div class="chatbox_footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox_send--footer send_button">Send</button>
            </div>
            
        </div>
        <div class="chatbox_button">
            <button><img src="../assets/images/chatbox-icon.svg" /></button>
        </div>
    </div>
</div>
