<!-- component -->
<link rel="stylesheet" href="https://cdn.tailgrids.com/tailgrids-fallback.css" />
<style>
   .gradient {
      margin-top: -24px;
      background: #B09A70;
   }
</style>

<div class="text-center">
   <h1><b id="h1">Test your programming knowledge and gain a certificate of completion!</b></h1>
</div>
<div class="w-full mb-4">
   <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
</div>

<div id="custom">
   <h4 id="h4"><i>Assessment Rules:</i></h4>
   <ul style=list-style-type:square>
      <li>Each Correct Answer Gives You 10 points</li>
      <li>Each Incorrect Answer Gives You -10 points</li>
      <li>You will have 60 seconds to answer each question</li>
   </ul>
</div>

<!-- ====== Cards Section Start -->
<section class="pt-20 lg:pt-[30px] pb-10 lg:pb-20">
   <div class="container">
      <div class="flex flex-wrap -mx-4">
         <div class="w-full md:w-1/2 xl:w-1/4 px-4">
            <div class="bg-light rounded-lg overflow-hidden mb-10">
               <img src="../assets/images/wd-image.png" alt="web-design-assessment-image" class="w-full" />
               <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
                  <h3>
                     <p href="javascript:void(0)" class="
                        font-semibold
                        text-dark text-xl
                        sm:text-[22px]
                        md:text-xl
                        lg:text-[22px]
                        xl:text-xl
                        2xl:text-[22px]
                        mb-4
                        block
                        hover:text-primary
                        ">
                        Web Design Assessment
                     </p>
                  </h3>
                  <p class="text-base text-body-color leading-relaxed mb-7">
                     Test your Web Design expertise by answering questions related to HTML and CSS structure and design
                     strategies.
                  </p>
                  <a href="javascript:void(0)" [routerLink]="['/app/assessment/wd-questions']" class="
                     inline-block
                     py-2
                     px-7
                     border border-[#E5E7EB]
                     rounded-full
                     text-base text-body-color
                     font-medium
                     bg-imperium-green
                     text-white
                     hover:border-primary hover:bg-imperium-hover-green
                     transition
                     ">
                     Begin
                  </a>
               </div>
            </div>
         </div>
         <div class="w-full md:w-1/2 xl:w-1/4 px-4">
            <div class="bg-light rounded-lg overflow-hidden mb-10">
               <img src="../assets/images/fd-image.png" alt="frontend-assessment-image" class="w-full" />
               <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
                  <h3>
                     <p href="javascript:void(0)" class="
                        font-semibold
                        text-dark text-xl
                        sm:text-[22px]
                        md:text-xl
                        lg:text-[22px]
                        xl:text-xl
                        2xl:text-[22px]
                        mb-4
                        block
                        hover:text-primary
                        ">
                        Frontend Development Assessment
                     </p>
                  </h3>
                  <p class="text-base text-body-color leading-relaxed mb-7">
                     Quiz your Frontend Development skills by completing questions in the Angular framework.
                  </p>
                  <a href="javascript:void(0)" [routerLink]="['/app/assessment/fd-questions']" class="
                     inline-block
                     py-2
                     px-7
                     border border-[#E5E7EB]
                     rounded-full
                     text-base text-body-color
                     font-medium
                     bg-imperium-green
                     text-white
                     hover:border-primary hover:bg-imperium-hover-green
                     transition
                     ">
                     Begin
                  </a>
               </div>
            </div>
         </div>
         <div class="w-full md:w-1/2 xl:w-1/4 px-4">
            <div class="bg-light rounded-lg overflow-hidden mb-10">
               <img src="../assets/images/bd-image.png" alt="backend-assessment-image" class="w-full" />
               <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
                  <h3>
                     <p href="javascript:void(0)" class="
                        font-semibold
                        text-dark text-xl
                        sm:text-[22px]
                        md:text-xl
                        lg:text-[22px]
                        xl:text-xl
                        2xl:text-[22px]
                        mb-4
                        block
                        hover:text-primary
                        ">
                        Backend Development Assessment
                     </p>
                  </h3>
                  <p class="text-base text-body-color leading-relaxed mb-7">
                     Measure your ability to code in C# fundamentals in this Backend Development Assessment.
                  </p>
                  <a href="javascript:void(0)" [routerLink]="['/app/assessment/bd-questions']" class="
                     inline-block
                     py-2
                     px-7
                     border border-[#E5E7EB]
                     rounded-full
                     text-base text-body-color
                     font-medium
                     bg-imperium-green
                     text-white
                     hover:border-primary hover:bg-imperium-hover-green
                     transition
                     ">
                     Begin
                  </a>
               </div>
            </div>
         </div>
         <div class="w-full md:w-1/2 xl:w-1/4 px-4">
            <div class="bg-light rounded-lg overflow-hidden mb-10">
               <img src="../assets/images/dd-image.png" alt="database-assessment-image" class="w-full" />
               <div class="p-8 sm:p-9 md:p-7 xl:p-9 text-center">
                  <h3>
                     <p href="javascript:void(0)" class="
                        font-semibold
                        text-dark text-xl
                        sm:text-[22px]
                        md:text-xl
                        lg:text-[22px]
                        xl:text-xl
                        2xl:text-[22px]
                        mb-4
                        block
                        hover:text-primary
                        ">
                        Database Development Assessment
                     </p>
                  </h3>
                  <p class="text-base text-body-color leading-relaxed mb-7">
                     Evaluate your programming knowledge in SQL in this Database Development Assessment.
                  </p>
                  <a href="javascript:void(0)" [routerLink]="['/app/assessment/dd-questions']" class="
                     inline-block
                     py-2
                     px-7
                     border border-[#E5E7EB]
                     rounded-full
                     text-base text-body-color
                     font-medium
                     bg-imperium-green
                     text-white
                     hover:border-primary hover:bg-imperium-hover-green
                     transition
                     ">
                     Begin
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- ====== Cards Section End -->
