<!-- component -->
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet"
    href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<section class="relative pt-16 grid gap-x-6 lg:gap-x-12 md:grid-cols-2">
    <div class="container mx-auto" style="cursor: pointer" [routerLink]="['/app/student-connect']">
        <div class="flex flex-wrap items-center">
            <div class="relative flex flex-col min-w-0 break-words bg-imperium-gold w-full mb-6 shadow-lg rounded-lg">
                <img alt="..."
                    src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=700&amp;q=80"
                    class="w-full align-middle rounded-t-lg">
                <blockquote class="relative p-8 mb-4">
                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                        class="absolute left-0 w-full block h-95-px -top-94-px">
                        <polygon points="-30,95 583,95 583,65" class="text-imperium-gold fill-current"></polygon>
                    </svg>
                    <h4 class="text-xl font-bold text-white">
                        <b id="h4">Student Connect</b>
                    </h4>
                    <p class="text-md font-light mt-2 text-white">
                        Get in touch with other students on your course with Student Connect! Create 1-on-1 
                        chats with other Imperium Learning students by entering their email address and start 
                        making new connections.
                    </p>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="container mx-auto" style="cursor: pointer" [routerLink]="['/app/students']">
        <div class="flex flex-wrap items-center">
            <div class="relative flex flex-col min-w-0 break-words bg-imperium-green w-full mb-6 shadow-lg rounded-lg">
                <img alt="..."
                    src="../assets/images/students_image.png"
                    class="w-full align-middle rounded-t-lg">
                <blockquote class="relative p-8 mb-4">
                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                        class="absolute left-0 w-full block h-95-px -top-94-px">
                        <polygon points="-30,95 583,95 583,65" class="text-imperium-green fill-current"></polygon>
                    </svg>
                    <h4 class="text-xl font-bold text-white">
                        <b id="h4">Meet Other Students</b>
                    </h4>
                    <p class="text-md font-light mt-2 text-white">
                        Start making new friendships and discover like-minded academics today! 
                        Find other Imperium Learning students, view their profiles, and receive 
                        their contact details to connect with them. 
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</section>