html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#root 
stream-channel-list {
    width: 50%;
}

stream-channel {
    width: 100%;
}

stream-thread {
    width: 45%;
}

stream-channel-header {
    margin-bottom: 10px;
}

#h1 {
    font-size: 45px;
    margin-top: 70px;
    line-height: 1.2;
}