<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <style>
        .gradient {
            margin-top: -24px;
            background: #8F00FF;
        }
    </style>
</head>

<!-- Hero Header -->
<section class="mb-12 text-gray-800 bg-imperium-purple">
    <div class="px-6 py-12 md:px-12 text-center lg:text-left">
        <div class="container mx-auto">
            <div class="grid lg:grid-cols-2 gap-12 flex items-center">
                <div class="mt-12 lg:mt-0">
                    <h1 id="h1" class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12 ml-4 text-left"
                        style="color: white">
                        Are You Ready to<br /><span style="color: hsl(173, 70%, 49%)">Become an Instructor?</span>
                    </h1>
                    <p class="text-lg" style="color: hsl(218, 81%, 95%)">
                        Become an Imperium Learning Instructor today and start publishing unqiue technology courses 
                        to 1000s of students! Recieve additional administrative privileges to update and delete learning content.
                        Upon becoming an Instructor, view the instructor portal below.
                    </p>
                    <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
                        <button class="btn btn-primary" mat-fab extended color="accent" (click)="authService.logout()">Logout</button>
                    </ng-container>
                    <ng-template #loggedOut>
                        <button class="btn btn-primary" mat-fab extended color="accent" (click)="authService.loginWithRedirect()">Become an
                            Instructor</button>
                    </ng-template>
                </div>
                <div class="mb-12 lg:mb-0">
                    <img id="img" src="../assets/images/become_an_instructor.jpg" alt="image" class="w-full" />
                </div>
            </div>
        </div>
    </div>
</section>

<!--Benefits -------------------------------------------------------------------------------------------------------------------------------------------------------------->
<section class="mt-24 mb-12 text-gray-800">
    <h2 class="w-full my-2 leading-tight text-center text-gray-800">
        <b id="h2">Benefits of Becoming an Instructor</b>
    </h2>
    <div class="w-full mb-4">
        <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
    <div class="mt-20 grid lg:gap-x-12 lg:grid-cols-3">
        <div class="mb-12 lg:mb-0">
            <div class="rounded-lg shadow-lg h-full block bg-white">
                <div class="flex justify-center">
                    <div class="p-4 bg-imperium-purple rounded-full shadow-lg inline-block -mt-8">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-white">
                            <path fill-rule="evenodd" d="M15.75 2.25H21a.75.75 0 01.75.75v5.25a.75.75 0 01-1.5 0V4.81L8.03 17.03a.75.75 0 01-1.06-1.06L19.19 3.75h-3.44a.75.75 0 010-1.5zm-10.5 4.5a1.5 1.5 0 00-1.5 1.5v10.5a1.5 1.5 0 001.5 1.5h10.5a1.5 1.5 0 001.5-1.5V10.5a.75.75 0 011.5 0v8.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V8.25a3 3 0 013-3h8.25a.75.75 0 010 1.5H5.25z" clip-rule="evenodd" />
                          </svg>                          
                    </div>
                </div>
                <div class="p-6">
                    <h4 id="h4" class="text-lg text-center font-bold mb-4">Add Courses</h4>
                    <p>
                        As a certified Imperium Learning Instructor, you have admin privileges in adding a course 
                        for students to take. Add unique courses that teach different skills and new programming languages. 
                    </p>
                </div>
            </div>
        </div>

        <div class="mb-12 lg:mb-0">
            <div class="rounded-lg shadow-lg h-full block bg-white">
                <div class="flex justify-center">
                    <div class="p-4 bg-imperium-purple rounded-full shadow-lg inline-block -mt-8">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-white">
                            <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                            <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                          </svg>
                          
                    </div>
                </div>
                <div class="p-6">
                    <h4 id="h4" class="text-lg text-center font-semibold mb-4">Update Courses</h4>
                    <p>
                        Updating Imperium learning courses involves editing existing courses so that they may be updated for the 2023 
                        technology landscape. Update course content, images, lecturer, or difficulty level.
                    </p>
                </div>
            </div>
        </div>

        <div class="">
            <div class="rounded-lg shadow-lg h-full block bg-white">
                <div class="flex justify-center">
                    <div class="p-4 bg-imperium-purple rounded-full shadow-lg inline-block -mt-8">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-white">
                            <path fill-rule="evenodd" d="M6.72 5.66l11.62 11.62A8.25 8.25 0 006.72 5.66zm10.56 12.68L5.66 6.72a8.25 8.25 0 0011.62 11.62zM5.105 5.106c3.807-3.808 9.98-3.808 13.788 0 3.808 3.807 3.808 9.98 0 13.788-3.807 3.808-9.98 3.808-13.788 0-3.808-3.807-3.808-9.98 0-13.788z" clip-rule="evenodd" />
                          </svg>
                          
                    </div>
                </div>
                <div class="p-6">
                    <h4 id="h4" class="text-lg text-center font-semibold mb-4">Delete Courses</h4>
                    <p>
                        Deleting Imperium Learning courses permanently removes it form the Learning Experience Platform. Perhaps a 
                        course is no longer available, or had been updated to a new version of a course. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Meet Other Instructors -------------------------------------------------------------------------------------------------------------------------------------------------------------->
<section class="mt-12 mb-12 max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <h2 class="w-full my-2 leading-tight text-center text-gray-800">
        <b id="h2">Meet Other Instructors</b>
    </h2>
    <div class="w-full mb-4">
        <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>

    <div class="mt-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div *ngFor="let instructor of instructor_list | async" class="w-full bg-slate-200 rounded-lg p-6 flex flex-col justify-center items-center">
                <img class="object-center object-cover rounded-full h-36 w-36" src="{{instructor.instructor_image}}" alt="photo">
            <div class="mt-6">  
                <p class="text-xl text-center text-gray-700 font-bold">{{instructor.name}}</p>
                <p id="subject" class="text-base text-center text-imperium-gold font-normal">{{instructor.subject}}</p>
                <p class="text-base text-justify text-black font-normal"><i>"{{instructor.teaching_style_quote}}"</i></p>
            </div>
        </div>
    </div>
</section>

<!--Instructor Login Details -------------------------------------------------------------------------------------------------------------------------------------------------------------->
<section class="mt-12 mb-12 text-gray-800">
    <ng-container *ngIf="authService.user$ | async as user">
        <h2 class="w-full my-2 leading-tight text-center text-gray-800">
            <b id="h2">Instructor Profile</b>
        </h2>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <ng-container *ngIf="authService.isAuthenticated$">
            <hr>
            <h4>Your Instructor Profile Details:</h4>
            <ul *ngIf="authService.user$ | async as user">
                <li>Name: {{ user.name }}</li>
                <li>Email: {{ user.email }}</li>
                <img id="profile-pic"
                    src="https://lh3.googleusercontent.com/a/AEdFTp4-zhv-nboyHFo1WvxM1IU6AV7EjlY0HMDuX-UP=s96-c"
                    alt="User Profile Picture">
            </ul>
            <hr>
        </ng-container>
    </ng-container>
</section>

<!--Add a Course Form ------------------------------------------------------------------------------------------->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut2">
                <h2 id="addCourse">Add a Course by Filling Out the Course Form Below</h2>
                <form [formGroup]="courseForm" (ngSubmit)="onAddCourse()">
                    <div class="form-group">
                        <label for="course_title">Title</label>
                        <input type="text" id="course_title" name="course_title" class="form-control"
                            formControlName="course_title" [ngClass]="{ 'error': isInvalid('course_title') }">
                    </div>
                    <div class="form-group">
                        <label for="course_category">Category</label>
                        <input type="text" id="course_category" name="course_category" class="form-control"
                            formControlName="course_category" [ngClass]="{ 'error': isInvalid('course_category') }">
                    </div>
                    <div class="form-group">
                        <label for="course_image">Image</label>
                        <input type="text" id="course_image" name="course_image" class="form-control"
                            formControlName="course_image" [ngClass]="{ 'error': isInvalid('course_image') }">
                    </div>
                    <div class="form-group">
                        <label for="course_description">Description</label>
                        <input type="text" id="course_description" name="course_description" class="form-control"
                            formControlName="course_description"
                            [ngClass]="{ 'error': isInvalid('course_description') }">
                    </div>
                    <div class="form-group">
                        <label for="course_difficulty">Difficulty</label>
                        <input type="text" id="course_difficulty" name="course_difficulty" class="form-control"
                            formControlName="course_difficulty" [ngClass]="{ 'error': isInvalid('course_difficulty') }">
                    </div>
                    <div class="form-group">
                        <label for="lecturer_name">Lecturer Name</label>
                        <input type="text" id="lecturer_name" name="lecturer_name" class="form-control"
                            formControlName="lecturer_name" [ngClass]="{ 'error': isInvalid('lecturer_name') }">
                    </div>
                    <div class="form-group">
                        <label for="release_year">Release Year</label>
                        <input type="text" id="release_year" name="release_year" class="form-control"
                            formControlName="release_year" [ngClass]="{ 'error': isInvalid('release_year') }">
                    </div>
                    <span *ngIf="isIncomplete()">You must complete all fields</span>
                    <button *ngIf="!isIncomplete()" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </ng-container>
            <ng-template #loggedOut2>
                <h2>Please login to add an Imperium Learning Course.</h2>
            </ng-template>
        </div>
    </div>
</div>

<!--Course List with delete/edit functionality --------------------------------------------------------------------->
<ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut3">
    <section class="mt-12">
        <h2>Delete or Edit Existing Courses</h2>
        <div class="row-span-4 columns-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="rounded-lg overflow-hidden mb-10" *ngFor="let course of course_list | async"
                style="cursor: pointer" [routerLink]="['/app/courses', course._id]">
                <div class="flex-shrink-0">
                    <img class="h-48 w-full object-cover" src="{{ course.course_image }}" alt="" />
                </div>
                <div class="flex flex-1 flex-col justify-between bg-slate-200">
                    <div class="mt-2 block">
                        <p class="text-xl font-semibold text-gray-900">
                            {{ course.course_title }}
                        </p>
                        <div class="flex-1">
                            <p class="text-sm font-medium text-indigo-600">
                                <span>{{ course.course_difficulty }}</span>
                            </p>
                            <p class="mt-3 text-base text-gray-500">
                                {{ course.course_description }}
                            </p>
                            <p class="mt-3 text-base text-gray-500">
                                Rating: {{ course.course_rating }} <mat-icon>stars</mat-icon>
                            </p>
                        </div>
                    </div>
                    <div class="mt-6 flex items-center">
                        <div class="flex-shrink-0">
                            <span class="sr-only">test</span>
                            <img class="h-10 w-10 rounded-full ml-3" src="{{ course.lecturer_image }}" alt="" />
                        </div>
                        <div class="ml-3">
                            <p class="text-sm font-medium text-gray-900 ml-1 mb-1">
                                <span>{{ course.lecturer_name }}</span>
                            </p>
                            <div class="flex space-x-1 text-sm text-gray-500 ml-1 mb-2">
                                <time>{{ course.display_date }}</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>
<ng-template #loggedOut3>
    <h2>Please login to update and delete Imperium Learning Course.</h2>
</ng-template>