<header class="bg-imperium-green sticky top-0 z-50">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top navigation">
      <div class="w-full py-3 flex gap-4">
        <img src="../assets/images/logo.jpg" alt="Imperium Learning Logo" loading="lazy" />
        <h6 id="h6">Imperium Learning</h6>
        <a routerLink="/app/home" routerLinkActive="active-link"
          class="text-base mt-1 font-medium text-white hover:text-indigo-50">
          Home
        </a>
        <a routerLink="/app/courses" routerLinkActive="active-link"
          class="text-base mt-1 font-medium text-white hover:text-indigo-50">
          Courses
        </a>
        <a routerLink="/app/student-section" routerLinkActive="active-link"
          class="text-base mt-1 font-medium text-white hover:text-indigo-50">
          Students
        </a>
        <a routerLink="/app/assessment" routerLinkActive="active-link"
          class="text-base mt-1 font-medium text-white hover:text-indigo-50">
          Assessment
        </a>
        <a routerLink="/app/chats" routerLinkActive="active-link"
          class="text-base mt-1 font-medium text-white hover:text-indigo-50">
          Chats
        </a>
        <a routerLink="/app/instructor" routerLinkActive="active-link"
          class="text-base mt-1 font-medium text-white hover:text-indigo-50">
          Become an Instructor
        </a>
  
        <button id="standardLogout" mat-stroked-button (click)="signOut()">Logout</button>
  
        <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
          <button id="instructorLogin" mat-stroked-button (click)="authService.logout()">Logout as Instructor</button>
        </ng-container>
        <ng-template #loggedOut>
          <button id="instructorLogin" mat-stroked-button (click)="authService.loginWithRedirect()">Instructor
            Login</button>
        </ng-template>
  
        <img *ngIf="authService.user$ | async as user" id="profile-pic"
          src="https://lh3.googleusercontent.com/a/AEdFTp4-zhv-nboyHFo1WvxM1IU6AV7EjlY0HMDuX-UP=s96-c"
          alt="User Profile Picture">
  
      </div>
    </nav>
  </header>
  
  <app-chatbot></app-chatbot>
  
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 my-6 h-4/5">
    <router-outlet></router-outlet>
  </div>
