#btn {
    background-color: #005F50;
    color: white;
    margin-top: 30px;
}

#retry {
    background-color: #B09A70;
    margin-top: 10px;
    color: white;
}

hr {
    margin-left: 10px;
    width: 1000px;
}

.card1 {
    margin-top: 70px;
}

.card {
    margin: 20px;
    border-color: white;
    background-color: #B09A70;
}

.optioncard:hover {
    background-color: yellow;
}

.text {
    font-size: 20px;
}

#h3 {
    font-size: 30px;
}

#margin {
    margin-top: 100px;
}

#green {
    color: #005F50;
}

#red {
    color: red;
}

#image {
    width: 100px;
    height: 100px;
}