#h1 {
    font-size: 60px;
    line-height: 1.2;
}

#h2 {
    font-size: 40px;
}

#h3 {
    font-size: 25px;
}

#h4 {
    font-size: 20px;
}

#btn {
    background-color: #B09A70;
    border-color: black;
    font-size: 13px;
    color: white;
}

#careers {
    font-size: 40px;
}