.error {
    background-color: #fff0f0;
}

.red-icon {
    color: red;
}

.red-icon:hover {
    cursor: pointer;
}

.purple-icon {
    color: purple;
}

.purple-icon:hover {
    cursor: pointer;
}

.green-icon {
    color: #005F50;
}

.green-icon:hover {
    cursor: pointer;
}

.blue-icon {
    color: blue;
}

.blue-icon:hover {
    cursor: pointer;
}

.orange-icon {
    color: orange;
    border: black;
}

.orange-icon:hover {
    cursor: pointer;
}

.mat-card-course {
    width: 400px;
    height: 600px;
    margin: 20px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: white;
}

.mat-card-review {
    width: 700px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: white;
}

.container {
    background-color: lightgrey;
    width: 100%;
    margin-top: 20px;
}

p {
    margin-left: 350px;
    margin: auto;
    text-align: left;
    padding: 5px;
}

#delete {
    background-color: red;
    color: black;
    border: 1px solid black;
}

#edit {
    background-color: lightgreen;
    color: black;
    border: 1px solid black;
}

#btn {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #005F50;
    border-color: black;
}

#btn:hover {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #003300;
    border-color: black;
}

h1 {
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#title {
    font-weight: bold;
}

#subtitle {
    color: grey;
}

#h1 {
    font-size: 30px;
    line-height: 1.2;
}

#h4 {
    font-size: 15px;
}

#star {
    color: #B09A70;
}